// Item Definition
// Define Item
$rightPanel: "#gadgettable-right ";
$rightPanelGadgets: "#gadgettable-right-gadgets ";
$topPanelGadgets: "#gadgettable-top-gadgets ";

// Mixins
@mixin tutorial-styles {
  max-width: 100% !important;
  min-height: 100px !important;
  font: 12px normal !important;
  border: 1px dotted grey;
  background-color: #e7d5c72e;
  color: #667;

  img.tutorial {
    display: none !important;
  }
}

@mixin gadget-styles {
  min-width: 200px;
  text-align: left;
  padding: 10px;
}

@mixin ticker-styles {
  text-align: center;
  font-style: normal;
  font-size: smaller;
  padding-top: 5px;

  .ticker_label {
    a {
      color: #e3e8ec !important;
    }
  }

  .ticker_icon {
    display: none !important;
  }

  .ticker_msg {
    color: white !important;

    a {
      color: #e4e9ee !important;
    }
  }

  &:hover {
    opacity: 0.9;
  }

  .ticker_msg {
    font-weight: normal !important;
  }

  .ticker_label {
    font-style: normal !important;
  }
}


/* 
Body
*/

.page_bg_with_image {
  //background: url(images/page/page-background.jpg) no-repeat scroll;
  background: #c9c4c4 !important;
  background-color: #c9c4c4 !important;
}

// Search
.search_container {
  width: 100%;
  border: #000 0px solid !important;
}

.search_short.texttoken {
  width: 100%;
  text-align: right;
}

// Style
// Tutorial
div.tutorial {
  @include tutorial-styles;
}

// Gadget
// Top

#{$topPanelGadgets} {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.35);
  border-bottom: 1px solid #333;
  margin-bottom: 8px;

  .gadget {

    // Gadgets Setting
    // Hide Metals
    &.worlds {
      background-color: #000;

      .world_list {
        color: white !important;
      }

      opacity:0.4;
    }

    &.ticker {
      @include ticker-styles;
      padding-top: 6px;
    }

    &.clock {
      background-color: #000;

      span#clock {
        color: white !important;
      }
    }
  }
}

// Right
#{$rightPanel},
#{$rightPanelGadgets} {
  @include gadget-styles;

  #{$rightPanelGadgets} {
    margin-top: 10px;
    font-size: 11px;

    .gadget {
      margin-top: 10px;
      border-bottom: 0.6px solid #aebece;

      // Gadgets Setting
      // Hide Metals
      &.medals {
        display: none;
      }
    }
  }

  .button {
    font-weight: lighter;
    border: dotted grey;
    background: rgba(200, 200, 100, 0.3);
  }

  #gadgetNextdungeonTime {
    background: yellow;
  }
}

// Ticker
#gadgettable-center-gadgets {
  .ticker {
    @include ticker-styles;
  }
}

.hints.content {
  opacity: 0.8;
  font-size: 11px;
}

span {
  color: black !important;
}

.table_bbcode {
  span {
    color: black !important;
  }
}

body {
  display: block !important;
  padding-top: 25px !important;
}

span.menu_0_selected {
  display: none;
}

.paginator_selected {
  font-size: 12px !important;
  color: white !important;
}

input.pagi_def {
  background: white !important;
  color: black !important;
}

#FooterMenu {
  background: #ccc;
  font-size: 12px;
}


@mixin progressbar{
  width: 100px;
  height: 10px;
  border: 2px solid #7c7979;
  border-radius: 5px;
  margin-left: 20px;

  .filled-bar {
    height: 100%;
    background-color: #f0bf37;
    transition: width 0.5s;
  }

}
//Fill bar
.experience-bar,
.fame-bar {
  @include progressbar;
}
.fame-bar {
  .filled-bar {
    background-color: #b275eb;
  }
}


.heroTitle,
.heroClass,
.heroRace {
  margin-left: 20px;
  /* border-top: 1px dotted #555; */
  /* border-bottom: 1px dotted #555; */
  border-left: 1px dotted #555;

  span {
    margin-left: 10px;
  }

}

.gadget.languages {
  background: #6d6b68;
}

.logo img {
  margin-left: 10px;
  margin-top: 5px;
}