@charset "UTF-8";
p.rep_level_success,
div.rep_dungeon_description {
  max-width: 100% !important;
  font-size: 14px;
  line-height: 2 !important;
  color: lightblue;
  background: #333;
  padding-top: 40px;
  padding-bottom: 40px;
}
p.rep_level_success [class*=bbcode_],
div.rep_dungeon_description [class*=bbcode_] {
  color: white !important;
  font-size: 0.8em;
}

p[class*=rep_level_] {
  color: #333;
  max-width: 80% !important;
  font-size: 14px;
  line-height: 2 !important;
  background: #333;
  padding-top: 40px;
  padding-bottom: 40px;
}

body div#showOff {
  position: fixed;
  bottom: 20px;
  right: 270px;
  opacity: 0.8;
  background: #eee;
  border: 1px solid #aaa;
  color: white;
  font-style: bold;
  background: #e4550e;
  border-radius: 20px;
  text-align: center;
  width: 40px;
  height: 40px;
  font-size: 18px;
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  cursor: pointer;
}
body div#showOff:hover {
  background: #d39c06;
  width: 45px;
  height: 45px;
  font-size: 20px;
  border-radius: 23px;
}

.content_block > * > tr.row0,
table.content_table > * > tr.row0 {
  background-color: #eee !important;
  background: #eee !important;
}
.content_block > * > tr.row1,
table.content_table > * > tr.row1 {
  background-color: #fff !important;
  background: #fff !important;
}

.rep_status_table tr:contains("击倒") {
  color: red !important;
}

#stat_all .stat_header {
  background-color: #555;
  text-align: center;
  color: white;
  line-height: 32px;
}
#stat_all .content_table_row_0 {
  background-color: #eee;
}
#stat_all input[type=button].button {
  background-color: rgba(238, 238, 238, 0);
  border: 0px solid #eee !important;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

body.dark .content_block > * > tr.row0,
body.dark table.content_table > * > tr.row0 {
  background-color: #3b3a3a !important;
  background: #3b3a3a !important;
  color: #fff !important;
}
body.dark .content_block > * > tr.row0 > td,
body.dark table.content_table > * > tr.row0 > td {
  background: #333 !important;
}
body.dark .content_block > * > tr.row1,
body.dark table.content_table > * > tr.row1 {
  background-color: #8b8b8b !important;
  background: #8b8b8b !important;
  color: #fff !important;
}
body.dark .content_block > * > tr.row1 > td,
body.dark table.content_table > * > tr.row1 > td {
  background: #333 !important;
}
body.dark .content_block td.content_table,
body.dark table.content_table td.content_table {
  border: 1px solid #333 !important;
  color: #efefef !important;
}
body.dark .content_block .rep_level_monster_exitus,
body.dark .content_block .rep_initiative,
body.dark .content_block .rep_room_end,
body.dark .content_block .rep_level_success,
body.dark .content_block .rep_action,
body.dark .content_block .rep_round_headline,
body.dark .content_block .rep_status_headline,
body.dark .content_block .rep_level_description,
body.dark .content_block .rep_status_table,
body.dark table.content_table .rep_level_monster_exitus,
body.dark table.content_table .rep_initiative,
body.dark table.content_table .rep_room_end,
body.dark table.content_table .rep_level_success,
body.dark table.content_table .rep_action,
body.dark table.content_table .rep_round_headline,
body.dark table.content_table .rep_status_headline,
body.dark table.content_table .rep_level_description,
body.dark table.content_table .rep_status_table {
  color: white !important;
}
body.dark #stat_all .stat_header {
  background-color: #555;
  color: white;
  line-height: 32px;
}
body.dark #stat_all .content_table_row_0 {
  background-color: #292828;
}
body.dark #stat_all input[type=button].button {
  background-color: rgba(238, 238, 238, 0);
  border: 0px solid #eee !important;
  color: white !important;
}
body.dark #stat_all th {
  border: 1px solid #333 !important;
  color: white;
}/*# sourceMappingURL=wodReport.css.map */